@import url("https://fonts.googleapis.com/css2?family=Hanuman:wght@100;300;400;700;900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap");
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #3F403F;
  height: 80px;
}
footer > a {
  background-color: #3F403F;
  color: #F7F2F3;
  padding: 0.8em;
  border-radius: 1vw;
  text-decoration: none;
  font-family: "Victor Mono";
  font-weight: 700;
  letter-spacing: 0.05em;
  font-size: 0.8vw;
  transition: background-color 0.2s ease, color 0.2s ease;
}
footer > a:hover {
  background-color: #5CF1FF;
  color: #00707A;
}
footer div {
  color: #3F403F;
}
footer div a {
  color: #3F403F;
  text-decoration: none;
}
footer div a:hover {
  color: #5CF1FF;
}

header {
  position: fixed;
  top: 4vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 2000;
}
header div {
  background-color: #3F403F;
  width: 5vw;
  aspect-ratio: 1/1;
  margin: 0 2vw;
}

nav {
  justify-self: flex-end;
  z-index: 1000;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 4vh;
  background-color: #3F403F;
  padding: 1vh;
  border-top-left-radius: 2vw;
  border-bottom-left-radius: 2vw;
  border: solid #F7F2F3 0.2em;
  border-right: none;
  z-index: 2000;
}
nav a {
  color: #5CF1FF;
  font-family: "Victor Mono";
  font-weight: 700;
  padding: 0.4em 0.8em;
  margin: 0 0.2em;
  font-size: 1vw;
  text-decoration: none;
  border-radius: 1.2em;
  border: transparent 0.2em solid;
  transition: border 0.2s ease, color 0.2s ease, background-color 0.2s ease;
}
nav a:hover {
  color: #00707A;
  background-color: #5CF1FF;
  border: #00707A 0.2em solid;
}

body {
  background-color: #F7F2F3;
}

h1,
h2,
h3 {
  font-family: "Victor Mono";
  font-weight: 700;
  letter-spacing: 0.05em;
}

p {
  font-family: "Hanuman";
  font-weight: 300;
  line-height: 1.2em;
}

.intro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro h1 {
  color: #3F403F;
  font-size: 3vw;
  margin-bottom: 10vh;
}
.intro p {
  background-color: #3F403F;
  color: #5CF1FF;
  font-size: 1.5vw;
  width: 60%;
  padding: 1em 2em;
  border-radius: 1vw;
  text-align: center;
}

.feature-banner {
  margin-top: 15vh;
  background: #5CF1FF;
  color: #00707A;
  transform: skewY(3deg);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vw;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.feature-banner .feature-track {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.feature-banner .feature {
  font-size: 1vw;
  opacity: 0;
  transform: translateY(-1vh) translateX(-1vw);
  transition: opacity 2s ease, transform 2s ease;
}
.feature-banner .feature.visible {
  opacity: 1;
  transform: translateX(0) translateY(0);
}

.shapeDivider {
  height: 1vw;
  background-color: #00707A;
  transform: skewY(6deg);
  margin: 1vw 0;
}

.listServices {
  background-color: #00707A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.listServices h2 {
  font-size: 2.7vw;
  margin: 10vh;
  color: #5CF1FF;
  text-shadow: #3F403F 0.05em 0.1em;
}

.accordion {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}
.accordion dt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 15vw;
  margin: 1vw 0;
  aspect-ratio: 1/1;
  color: #3F403F;
  background-color: #5CF1FF;
  padding: 1em;
  border: 1px solid #3F403F;
  font-size: 1.2vw;
  cursor: pointer;
  border-radius: 1vw;
  border: none;
  transform: translateY(0);
  box-shadow: #3F403F 1em 1em;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
}
.accordion dt h3 {
  margin-top: 30%;
  text-align: center;
  line-height: 1.5em;
  width: 70%;
}
.accordion dt .arrow {
  width: 2em;
  aspect-ratio: 1/1;
  transition: transform 0.3s ease;
}
.accordion dt.active {
  box-shadow: #3F403F 1em 2em;
  transform: translateY(-1em);
}
.accordion dt.active .arrow {
  transform: rotate(-180deg);
}
.accordion dd {
  position: absolute;
  transform: translateX(-7.25vw) translateY(0.85vw);
  width: 30vw;
  border-radius: 1vw;
  color: #3F403F;
  background-color: #F7F2F3;
  font-size: 1vw;
  max-height: 0;
  padding: 0;
  overflow: hidden;
  transition: padding 0.3s ease, max-height 0.3s ease, box-shadow 0.3s ease;
  z-index: 1000;
}
.accordion dd p {
  font-weight: 500;
  margin: 0.5em;
}
.accordion dd p span {
  color: #00707A;
  font-weight: 700;
  font-size: 1.2em;
  text-decoration: underline 0.1em dotted;
}
.accordion dd.open {
  box-shadow: #00707A 0em 0 0 0.25em, #3F403F 0 0 0 0.5em;
  padding: 1em;
  max-height: 50vh;
}

/*# sourceMappingURL=services.css.map */
