@use "./sassModules/colors";
@use "./sassModules/fonts";
@use "./sassModules/mixins" as *;

@use "./sassModules/navStyle";
@use "./sassModules/footer";
@use "./sassModules/header";

body {
  background-color: colors.$white;
}
section {
  @include sectionBasicFlex($flexDir: column);
  min-height: 100vh;
  h1,
  h2,
  dt,
  button {
    @include fontTitle;
  }
  p,
  dd {
    @include fontText;
  }
}
h1 {
  font-size: 3vw;
  margin-bottom: 10vh;
  color: colors.$blueDark;
}
section > p {
  width: 50%;
  font-size: 1.5vw;
  text-align: center;
  color: colors.$blueDark;
}
#meetTheMind {
  padding: 20vh 10%;
  margin-left: auto;
  margin-right: auto;
  @include sectionBasicFlex($flexDir: column);
  background-color: colors.$black;
  h2 {
    font-size: 2vw;
    margin-bottom: 10vh;
    color: colors.$blueLight;
  }
  > div {
    @include sectionBasicFlex($justify: space-evenly);
    height: fit-content;
    height: 60vh;
    > img {
      background-color: colors.$white;
      width: 25%;
      aspect-ratio: 1/1;
      border-radius: $borderRadius;
      z-index: 1;
    }
  }
  .accordion {
    width: 40%;
    dt {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: colors.$black;
      background-color: colors.$blueLight;
      padding: 1em;
      border: 1px solid colors.$black;
      font-size: 1.2vw;
      cursor: pointer;
      h3 { 
        width: 87%;
      }
      .arrow {
        width: 10%;
        aspect-ratio: 1/1;
        transition: transform .3s ease;
      }
      
    }
    dt.active .arrow {
      transform: rotate(-180deg);
      
    }
    dd {
      color: colors.$black;
      background-color: colors.$white;
      font-size: 1vw;
      max-height: 0;
      padding: 0;
      overflow: hidden;
      transition: padding .3s ease, max-height .3s ease;
    }
    dd.open {
      padding: 1em;
      max-height: 50vh;
    }
  }
  button {
    background-color: colors.$blueLight;
    color: colors.$blueDark;
    padding: .2em 1em;
    font-size: 1.2vw;
    margin-top: 2em;
    margin-bottom: 10em;
    border: solid transparent .2em;
    border-radius: 3vw;
  }
  button:hover {
    background-color: colors.$blueDark;
    color: colors.$white;
  }
}
