@use "./sassModules/colors";
@use "./sassModules/fonts";
@use "./sassModules/mixins" as *;

@use "./sassModules/navStyle";
@use "./sassModules/footer";
@use "./sassModules/header";

body {
  background-color: colors.$white;
}
section {
  @include sectionBasicFlex($flexDir: column);
  min-height: 100vh;
  h1,
  h2,
  dt,
  button {
    @include fontTitle;
  }
  p,
  dd {
    @include fontText;
  }
}
h1 {
  font-size: 3vw;
  margin-bottom: 10vh;
  color: colors.$blueDark;
}
section > p {
  width: 50%;
  font-size: 1.5vw;
  text-align: center;
  color: colors.$blueDark;
}
#meetTheMind {
  padding: 10vh 10%;
  margin-left: auto;
  margin-right: auto;
  @include sectionBasicFlex($flexDir: column);
  background-color: colors.$black;
  h2 {
    font-size: 2vw;
    margin-bottom: 10vh;
    color: colors.$blueLight;
  }
  > div {
    @include sectionBasicFlex($justify: space-evenly);
    > img {
      background-color: colors.$white;
      width: 25%;
      aspect-ratio: 1/1;
      border-radius: $borderRadius;
    }
  }
  dl {
    width: 40%;
    dt {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: colors.$black;
      background-color: colors.$blueLight;
      padding: 1em;
      border: 1px solid colors.$black;
      font-size: 1.2vw;
      h3 { 
        width: 87%;
      }
      img {
        width: 10%;
        aspect-ratio: 1/1;
        background-color: colors.$white;
      }
    }
    dd {
      color: colors.$black;
      background-color: colors.$white;
      padding: 1em;
      font-size: 1vw;
    }
  }
}
