@use './sassModules/fonts';
@use './sassModules/colors';
@use './sassModules/mixins' as *;

@use './sassModules/navStyle';

main {
  background-color: colors.$white;
}
#heroSection {
  background-color: colors.$blueLight;
  color: colors.$black;
  height: 100vh;
  display: flex;
  width: 100%;
  @include sectionBasicFlex(column);
  div {
    background-color: colors.$black;
    height: 15vw;
    width: 15vw;
    margin-bottom: 4vh;
    border-radius: 50%;
  }
  @include fontTitle;
  letter-spacing: .5em;
  h1 {
    font-size: 3vw;
    margin: 5vh;
  }
}
#intro {
  margin: 10vw;
  justify-content: space-between;
  @include sectionBasicFlex($justify: space-evenly);
  div {
    width: 20vw;
    height: 20vw;
    background-color: colors.$black;
    border-radius: $borderRadius;
  }
  p {
    width: 40%;
    @include fontText();
    font-size: 2vw;
  }
}