@use './sassModules/fonts';
@use './sassModules/colors';

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section { 
  width: 100%;
  display: flex;
  justify-content: center;
  > * {
  max-width: 1440px;
  }
}
#heroSection {
  background-color: colors.$blueLight;
  color: colors.$black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  div {
    background-color: colors.$black;
    height: 15vw;
    width: 15vw;
    margin: 4vh;
    border-radius: 50%;
  }
  font-family: fonts.$fontTitle2;
  letter-spacing: .5em;
  h1 {
    font-size: 3vw;
    margin: 2vh;
  }
}