@use "./sassModules/colors";
@use "./sassModules/fonts";
@use "./sassModules/mixins" as *;

@use "./sassModules/footer";
@use "./sassModules/header";
@use "./sassModules/navStyle";

body {
  background-color: colors.$white;
}
h1,
h2,
h3 {
  @include fontTitle;
}
p {
  @include fontText;
}
.intro {
  height: 100vh;
  @include sectionBasicFlex($flexDir: column);
  h1 {
    color: colors.$black;
    font-size: 3vw;
    margin-bottom: 10vh;
    @include textShadowTitle(colors.$blueLight);
  }
  p {
    background-color: colors.$black;
    color: colors.$blueLight;
    font-size: 1.5vw;
    width: 60%;
    padding: 1em 2em;
    border-radius: $borderRadius;
    text-align: center;
  }
}
.feature-banner {
  margin-top: 15vh;
  background: colors.$blueLight;
  color: colors.$blueDark;
  transform: skewY(3deg) translateY(6vh);
  // padding: 4rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6vw;
  overflow: hidden;
  position: relative;
  z-index: 1;

  .feature-track {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .feature {
    font-size: 1vw;
    opacity: 0;
    transform: translateY(-1vh) translateX(-1vw);
    transition: opacity 2s ease, transform 2s ease;
  }

  .feature.visible {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
}
.shapeDivider {
  height: 1vw;
  background-color: colors.$blueDark;
  transform: skewY(6deg);
  margin: 1vw 0;
  // clip-path: polygon(0 0, 0 100%, 100% 100%);
}
.listServices {
  background-color: colors.$blueDark;
  @include sectionBasicFlex($flexDir: column);
  // padding-top: 1vw;
  h2 {
    font-size: 2.7vw;
    margin-top: 20vh;
    margin-bottom: 10vh;
    color: colors.$blueLight;
    @include textShadow;
  }
}
.accordion {
  width: 80%;
  @include sectionBasicFlex($justify: space-evenly, $align: flex-start);
  flex-wrap: wrap;
  margin-bottom: 10vh;
  dt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 15vw;
    margin: 1vw 0;
    aspect-ratio: 1/1;
    color: colors.$black;
    background-color: colors.$blueLight;
    padding: 1em;
    border: 1px solid colors.$black;
    font-size: 1.2vw;
    cursor: pointer;
    border-radius: $borderRadius;
    border: none;
    // margin: 1vw;
    transform: translateY(0);
    box-shadow: colors.$black 1em 1em;
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
    h3 {
      margin-top: 30%;
      text-align: center;
      line-height: 1.5em;
      width: 70%;
    }
    .arrow {
      width: 2em;
      aspect-ratio: 1/1;
      transition: transform 0.3s ease;
    }
  }
  dt.active {
    box-shadow: colors.$black 1em 2em;
    transform: translateY(-1em);
  }
  dt.active .arrow {
    transform: rotate(-180deg);
  }
  dd {
    // margin: 1vw;
    position: absolute;
    transform: translateX(-7.25vw) translateY(0.85vw);
    width: 30vw;
    border-radius: $borderRadius;
    // transform: translateY(-1vh);
    color: colors.$black;
    background-color: colors.$white;
    font-size: 1vw;
    max-height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity .3s ease, padding 0.3s ease, max-height 0.3s ease, box-shadow 0.3s ease;
    z-index: 1000;
    p {
      font-weight: 500;
      span {
        color: colors.$blueDark;
        font-weight: 700;
        font-size: 1.2em;
        text-decoration: underline 0.1em dotted;
      }
      margin: 0.5em;
    }
  }
  dd.open {
    box-shadow: colors.$blueDark 0em 0 0 0.25em, colors.$black 0 0 0 0.5em;
    padding: 1em;
    max-height: 50vh;
    opacity: 1;
  }
}
#keyBenefits {
  @include sectionBasicFlex($flexDir: column);
  background-color: colors.$black;
  h2 {
    margin: 10vh 0;
    font-size: 2.5vw;
    color: colors.$white;
    @include textShadow($color: colors.$blueDark);
  }
  p {
    margin: 2vh 0vw;
    font-size: 1.5vw;
    color: colors.$white;
    @include textShadow($color: colors.$blueDark);
    font-weight:500;
  }
}