@use './colors';
@use './fonts';

header {
  position: fixed;
  top: 4vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 2000;
  div {
    background-color: colors.$black;
    width: 5vw;
    aspect-ratio: 1/1;
    margin: 0 2vw;
  }
}