@use './colors';
@use './fonts';

@mixin fontTitle {
  font-family: fonts.$fontTitle2;
  font-weight: 700;
  letter-spacing: .05em;
}
@mixin fontText {
  font-family: fonts.$fontTitle;
  font-weight: 300;
  line-height: 1.2em;
}
@mixin sectionBasicFlex($flexDir:row, $justify: center, $align:center) {
  display: flex;
  flex-direction: $flexDir;
  justify-content: $justify;
  align-items: $align;
}
$borderRadius: 1vw;