@use './fonts';
@use './colors';

nav {
  justify-self: flex-end;
  z-index: 1000;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 4vh;
  background-color: colors.$black;
  padding: 1vh;
  border-top-left-radius: 2vw;
  border-bottom-left-radius: 2vw;
  border: solid colors.$white .2em;
  border-right: none;
  a {
    color: colors.$blueLight;
    font-family: fonts.$fontTitle2;
    font-weight: 700;
    padding: .4em .8em;
    margin: 0 .2em;
    font-size: 1vw;
    text-decoration: none;
    border-radius: 1.2em;
    border: transparent .2em solid;
    transition: border .2s ease, color .2s ease, background-color .2s ease;
  }
  a:hover {
    color: colors.$blueDark;
    background-color: colors.$blueLight;
    border: colors.$blueDark .2em solid;
  }
}